@import './../../Styles/variable';

.heading {
    background-color: $keppelColor;
    color: $whiteColor;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    width: 100%;
    padding: 10px;

    button {
        background-color: $whiteColor;
    }
}

.searcharea {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 70px;
    margin-right: 20px;

    .flex {
        display: flex;
        align-items: center;
    }

    .formcontrol {
        button {
            background-color: $keppelColor;
            color: $whiteColor;
            height: 56px;
            border-radius: 0px;
            margin-left: 5px;
        }
    }
}